TOKEN_SECRET_KEY=secret_key

POSTGRES_USER=racketarena_user
POSTGRES_PASSWORD=racketarena_password
POSTGRES_DB=racketarena_db

DATABASE_URL=postgresql://racketarena_user:racketarena_password@localhost:5432/racketarena_db